<!-- <header>
    <div class="container">
      <div class="logo-box">
        <a routerLink="/">
          <img src="https://secure.gravatar.com/avatar/fabdb283fe15708440314fae08b0e7a1?s=60&d=retro&r=">
        </a>
      </div>
      <nav>
      <ul>
        <li><a routerLink="/">home</a></li>
        <li><a routerLink="/shop/list">shop</a></li>
     </ul>
    </nav>
    </div>
  </header>
   -->
   
   <header class="header-fixed">
   
     <div class="header-limiter">
   
       <h1><a routerLink="/">I<span>POP</span></a></h1>

       <app-search></app-search>
   
       <nav>
         <a routerLink="/">Home</a>
         <a routerLink="/shop">Shop</a>
       </nav>
   
     </div>
   
   </header>
   
   <!-- You need this element to prevent the content of the page from jumping up -->
   <div class="header-fixed-placeholder"></div>

   