 
   <header class="header-fixed">
   
     <div class="header-limiter">
   
       <h1><a routerLink="/">I<span>POP</span></a></h1>

       <app-search></app-search>
   
       <nav>
         <a routerLink="/">Home</a>
         <a routerLink="/shop">Shop</a>
         <a routerLink="/login" *appShowAuthed="false">Login</a>
         <a *appShowAuthed="true" routerLink="/settings">{{currentUser.username}}</a>
         <a *appShowAuthed="true" (click)="closeSession()">Logout</a>
       </nav>
   
     </div>
   
   </header>
   
   <!-- You need this element to prevent the content of the page from jumping up -->
   <div class="header-fixed-placeholder"></div>

   