.pagination {
    display: inline-block;
    margin-top: 1em;
}
  
.pagination button {
    color: #264348;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #d2d7d3;
    margin: 0 3px;
}

.pagination button.active {
    background-color: #264348;
    color: white;
}

.pagination button:hover:not(.active) {
    background-color: #d2d7d3;
}

/* Layout and style */

* {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
