<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <h2>Filters</h2>
    <label for="category">Category: </label>
    <select id="category" formControlName="category">
        <option value="">--Select category--</option>
        <option *ngFor="let category of allCategories" value="{{category.slug}}">{{category.name}}</option>
    </select>
    <label for="shipping">Shipping:</label>
    <select id="shipping" formControlName="shipping">
        <option value="">--Select shipping--</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <button>Filter</button>
</form>
