<hr/>
<div class="info-wrapper">
    <div id="carousel">
        <ul class="carousel slidingCarousel">
            <input type="radio" checked id="1" name="s_activator" class="carousel__activator"/>
          
            <div class="carousel__track">
              <li class="carousel__slide">
                  <a>
                      <div class="carousel__slide--content" style="background-image: url(https://picsum.photos/500/300/?image=10);">
                      </div>
                  </a>
              </li>
            </div>
            
            <div class="carousel__indicators">
              <label for="1" class="carousel__indicator"></label>
            </div>
          </ul>
    </div>
    <div class="info">
      <div class="information">
        <h1>{{itemInfo.name}}<span>{{itemInfo.price | currency: 'EUR'}}</span></h1>
        <hr/>
        <p id="desc">{{itemInfo.desc}}</p>
        <hr/>
        <p><i class="fas fa-user"></i>{{itemInfo.author.username}}</p>
        <p><i class="fas fa-map-marked-alt"></i>{{itemInfo.ubication.ubication}}</p>
        <p><i class="fas fa-box"></i><span *ngIf="itemInfo.shipping == false">No</span><span *ngIf="itemInfo.shipping">Sí</span></p>
        <p><strong>Desgaste: </strong> {{itemInfo.wear}}</p>
      </div>
      <div id="buttons">
        <button>BUY</button>
        <app-favorite-button
          [item]="itemInfo"
          (toggle)="onToggleFavorite($event)">
          {{ itemInfo.isLiked ? 'Unfavorite' : 'Favorite' }} item <span class="counter">({{ itemInfo.liked }})</span>
        </app-favorite-button>
      </div>
    </div>
</div>
<hr/>
