<hr/>
<div class="info-wrapper">
    <div id="carousel">
        <ul class="carousel slidingCarousel">
            <input type="radio" checked id="1" name="s_activator" class="carousel__activator"/>
          
            <div class="carousel__track">
              <li class="carousel__slide">
                  <a>
                      <div class="carousel__slide--content" style="background-image: url(https://picsum.photos/500/300/?image=10);">
                      </div>
                  </a>
              </li>
            </div>
            
            <div class="carousel__indicators">
              <label for="1" class="carousel__indicator"></label>
            </div>
          </ul>
    </div>
    <div class="info">
      <div class="information">
        <h1>{{itemInfo.name}}<span>{{itemInfo.price | currency: 'EUR'}}</span></h1>
        <hr/>
        <p id="desc">{{itemInfo.desc}}</p>
        <hr/>
        <p>
          <i class="fas fa-user"></i>
          {{itemInfo.author.username}} 
          <app-follow-button
            [user]="itemInfo.author"
            (toggle)="onToggleFollowing($event)">
          </app-follow-button>
        </p>
        <p><i class="fas fa-map-marked-alt"></i>{{itemInfo.ubication.ubication}}</p>
        <p><i class="fas fa-box"></i><span *ngIf="itemInfo.shipping == false">No</span><span *ngIf="itemInfo.shipping">Sí</span></p>
        <p><strong>Desgaste: </strong> {{itemInfo.wear}}</p>
      </div>
      <div id="buttons">
        <button (click)="buyItem(itemInfo.slug)">BUY</button>
        <app-favorite-button
          [item]="itemInfo"
          (toggle)="onToggleFavorite($event)">
          {{ itemInfo.isLiked ? 'Unfavorite' : 'Favorite' }} item <span class="counter">({{ itemInfo.liked }})</span>
        </app-favorite-button>
        <p>{{itemInfo.rating}} ★ </p>
      </div>
    </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">

    <div *appShowAuthed="true">
      <app-list-errors [errors]="commentFormErrors"></app-list-errors>
      <form class="card comment-form">
        <fieldset [disabled]="isSubmitting">
          <div class="card-block">
            <textarea class="form-control" placeholder="Write a comment..." rows="3" [formControl]="commentControl"></textarea>
            <app-review [stars]="newCommentReview" (toggle)="onToggleReview($event)"></app-review>
          </div>
          <div class="card-footer">
            <img [src]="currentUser.image || 'https://static.productionready.io/images/smiley-cyrus.jpg'" alt="user image" class="comment-author-img" />
            <button (click)="addComment($event)">
             Post Comment
            </button>
          </div>
        </fieldset>
      </form>
    </div>

    <div *appShowAuthed="false">
      <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on this article.
    </div>

    <app-item-comment
      *ngFor="let comment of itemInfo.comment"
      [comment]="comment"
      (deleteComment)="onDeleteComment(comment)">
    </app-item-comment>
  </div>
</div>
